.contact-container{
    width: 400px;
    height: 400px;
    background-color: #222831;
    top:50%;
    left:50%;
    position: relative;
    margin-left: -200px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.contact-container form > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top:50%;
    left:50%;
    width: 400px;
    height: 200px;
    margin: -200px;
    margin-top: -100px;
}
.contact-container form > div > input{
    margin: 2px;
    border:none;
    outline:none;
    background-color: #353131;
    color:#76ABAE;
    padding: 5px;
}
.contact-container .submitbtn{
    width: 160px;
    height: 30px;
    background-color: #353131;
    color:#76ABAE;
    cursor:pointer;
    border:none;
    outline:none;
}