.head{
    background-color: #222831;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logos{
    margin-right: 30px;
}
.logos > span{
    margin:0 10px;
}
.logos > span > .fa-brands {
    color:#76ABAE;
    cursor: pointer;
}