.card-container{
    width: 80%;
    height: fit-content;
    margin:auto;
    margin-top: 100px;
}
.card-container > .center{
    height: 400px;
    margin: 50px 0;
}
.card-container > .center > h3{
    text-align: center;
    display: block;
    font-weight: bolder;
    font-size: 30px;
}
.card-container > .center > hr{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
.card-container > .center  img{
    width: 200px;
    height: 150px;
    margin: 50px;
}
.card-container > .center h2{
    font-size: 16px;
}
.card-container .center-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-container  .center-inner .small-desc{
    width: 200px;
    text-align: left;
}
.card-container .continue-reading{
    background:transparent;
    box-shadow: none;
    border:none;
    outline:none;
    position: relative;
    top:30px;
    color:#76ABAE;
    cursor:pointer;
}
@media (max-width: 768px) {
    .card-container .right{
        display: none;
        width: 0%;
    }
    .card-container  .left{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
    }
    .card-container  .left p {
        text-align: center;
        width: 100%;
        display: block;
    }
  }